{% extends 'flatpages/default.html' %}

{% load custom_tags %}
{% load custom_filters %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1> Все новости и статьи</h1>
   <h3>{% current_time '%d %b %Y' %}</h3>
   <hr>
    {% if news %}
    <h4>Количество записей: {{ news | length }} </h4>
        <table style="margin-left: auto; margin-right: auto;">
           <tr>
           <tr>
               <td style="text-align: center;"> Название</td>
               <td style="text-align: center;">Дата</td>
               <td style="text-align: center;">Текст</td>
           </tr>
            {% for new in news %}
            <tr>
                <td style="text-align: center;"> {{new.title | censor}}</td>
                <td style="text-align: center;"> {{new.dateCreation|date:'d M Y'}}</td>
                <td style="text-align: center;"> {{new.text | censor | truncatechars:21}}</td>
            </tr>
            {% endfor %}
       </table>
    {% else %}
        <h2> Новостей и статей нет! </h2>
    {% endif %}
{% endblock content %}
