

{% extends 'flatpages/default.html' %}

{% block title %}
News
{% endblock title %}
{% load custom_tags %}
{% load custom_filters %}

{% block content %}
<style>
    div {display: inline-block;}
    .str {
        display: block;
        text-align: left;
        }
</style>
<small class="str"> Сегодня: {% current_time '%b %d %Y' %}</small>
<small class="str"> Всего новостей ({{filter.qs|length}})</small>

<h3> The news: <span> {{ news|length }} </span> </h3>

<table>
    <td>|</td>
    <td><a href="{% url 'new_create' %}">Добавить новую новость</a><br></td>
    <td>|</td>
    <td><a href="{% url 'article_create' %}">Добавить новую статью</a><br></td>
    <td>|</td>
    <td><a href="{% url 'search' %}">Поиск поста </a><br></td>
    <td>|</td>
</table>

    <hr>
    {% if news %}
        <table>
            <tr>
                <td>
                    Дата публикации
                </td>
                <td>
                    Тип
                </td>
                <td>
                    Заголовок
                </td>
                <td>
                    Сатья
                </td>
                <td>
                    Автор
                </td>
                <td>
                    Категория
                </td>
            </tr>
            {% for new in news %}
                <tr>
                    <td>
                        {{ new.date|date:'d-m-Y' }}
                    </td>
                    <td>
                        {{ new.get_type_display }}
                    </td>
                    <td>
                        {% if new.type == 'NEWS' %}
                            <a href="{% url 'new' new.id %}">{{ new.title|censor }}</a>
                            <a href="{% url 'new_update' new.id %}"><u> Редактировать </u></a>
                            <a href="{% url 'new_delete' new.id %}"><u> Удалить </u></a>
                        {% else %}
                            <a href="{% url 'new' new.id %}">{{ new.title|censor }}</a>
                            <a href="{% url 'article_update' new.id %}"><u> Редактировать </u></a>
                            <a href="{% url 'article_delete' new.id %}"><u> Удалить </u></a>
                        {% endif %}
                    </td>
                    <td>
                        {{ new.text|truncatechars:50 }}
                    </td>
                    <td>
                        {{ new.author.username }}
                    </td>
                    <td>
                        {% for category in new.category.all %}
                            {{ category }}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>НОВОСТЕЙ НЕТ!</h2>
    {% endif %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                <a href="?{% url_replace page=page_obj.previous_page_number %}"><<<</a>
                ...
                <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
                ...
                <a href="?{% url_replace page=page_obj.next_page_number %}">>>></a>
                <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock content %}
