<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Еженедельный обзор</title>
</head>

<body>
  <h1>Еженедельные новости с News Portal</h1>
  {%for category in category_object%}
    <p>В категории: <strong>"{{category}}"</strong></p>
    <p>есть следующие новости:</p>
    {% for post in post_object %}
      {% for post_cat in post.category.all %}
        {% if post_cat == category%}
          <a href="http://127.0.0.1:8000{% url 'new' post.id %}" >
            <h2>
              {{post.title}}
            </h2>
          </a>
          <p> автор: {{post.author}}</p>
          <p>{{post.email_preview}}</p>
        {%endif%}
      {%endfor%}
    {%endfor%}
  {%endfor%}
</body>

</html>